// @font-face {
//   font-family: 'Montserrat';
//   src: url('../assets/font/Montserrat-Regular.otf') format('opentype');
// }

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.app-wrapper {
  padding-top: 60px;
}

.pointer {
  cursor: pointer;
}
