$myWidth: 60%;
$myWidthIcon: 20%;

.headerparent {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header {
    background: linear-gradient(135deg, rgba(154, 31, 243, 1) 0%, rgba(57, 159, 254, 1) 100%);
    // z-index: 999;
    height: 60px;
    display: flex;
    align-items: center;

    .container_icon {
        padding-left: 20px;
        width: 25%;
        cursor: pointer;

        img {
            height: 40px !important;
            width: auto;
        }

        @media screen and (max-width: 992px) {
            width: auto;

            img {
                height: 30px !important;
                width: auto;
            }
        }

    }

    .container_menu {
        width: $myWidth;
        margin-right: auto;
        margin-left: 30px;

        @media screen and (max-width: 992px) {
            display: none;
        }

        .row {
            display: flex;
            flex-wrap: wrap;

            .col_content {
                width: 100%;
                height: 50px;
                color: #FFFFFF;
                margin: 0px;
                text-align: center;
                flex: 1 0 0%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .col_content_content {
                    margin-left: 15px;

                    .col_content_upper {
                        text-align: center;
                        font-size: 20px;
                    }

                    .col_content_lower {
                        text-align: center;
                        font-size: 14px;

                        @media screen and (max-width: 992px) {
                            display: none;
                        }
                    }
                }

                &:nth-child(1) {
                    &::before {
                        content: "";
                        width: 40px;
                        height: 40px;
                        background: url('../images/home.svg');
                        position: relative;
                        display: block;
                    }
                }

                &:nth-child(2) {
                    &::before {
                        content: "";
                        width: 40px;
                        height: 40px;
                        background: url('../images/supperchinese.png');
                        position: relative;
                        display: block;
                    }
                }

                &:nth-child(3) {
                    &::before {
                        content: "";
                        width: 40px;
                        height: 40px;
                        background: url("../images/suppertest.svg");
                        position: relative;
                        display: block;
                    }
                }

                &:nth-child(4) {
                    &::before {
                        content: "";
                        width: 40px;
                        height: 40px;
                        background: url('../images/shoppingcart.svg');
                        position: relative;
                        display: block;
                    }
                }


            }



        }
    }
}

.header_mobile {
    display: none;
    position: fixed;
    bottom: 0px;
    z-index: 100;
    width: 100%;
    padding: 5px 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgba(154, 31, 243, 1) 0%, rgba(57, 159, 254, 1) 100%);

    @media screen and (max-width: 992px) {
        display: flex;
    }

    .col_content {
        margin: 5px 7px 0px 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .col_content_upper {
            text-align: center;
            font-size: 13px;
            color: #fff;
            line-height: 24px;
        }

        &:nth-child(1) {
            &::before {
                content: "";
                width: 25px;
                height: 25px;
                background: url('../images/home.svg');
                position: relative;
                display: block;
                background-size: 100% 100%;
            }
        }

        &:nth-child(2) {
            &::before {
                content: "";
                width: 25px;
                height: 25px;
                background: url('../images/supperchinese.png');
                position: relative;
                display: block;
                background-size: 100% 100%;
            }
        }

        &:nth-child(3) {
            &::before {
                content: "";
                width: 25px;
                height: 25px;
                background: url("../images/suppertest.svg");
                position: relative;
                display: block;
                background-size: 100% 100%;
            }
        }

        &:nth-child(4) {
            &::before {
                content: "";
                width: 25px;
                height: 25px;
                background: url('../images/shoppingcart.svg');
                position: relative;
                display: block;
                background-size: 100% 100%;
            }
        }
    }
}

.header_style_blue {
    background: linear-gradient(135deg, rgba(154, 31, 243, 1) 0%, rgba(57, 159, 254, 1) 100%);
}

.header_style_orange {
    background: rgba(238, 88, 48, 1);
}

.header_below {
    background: rgb(14 13 13 / 46%);
    opacity: 0.9;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 992px) {
        display: none;
    }
}

.header_below_item {
    margin: 10px;
    padding: 6px;
    border-radius: 50px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 3px;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: white;
    cursor: pointer;


}

.active_color {
    background: linear-gradient(135deg, rgba(154, 31, 243, 1) 0%, rgba(57, 159, 254, 1) 100%);
}

.superchinese_active_color {
    background: rgba(227, 49, 7, 1);
}