.iconVip{
    position: fixed;
    margin-top: 200px ;
    margin-left: 15px;
    background: url("../images/sale50k.gif");
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
    z-index: 9999;
    cursor: pointer;
}

.iconZalo{
    position: fixed;
    bottom: 80px ;
    right: 15px;
    margin-right: 15px;
    background: url("../images/iconzalo.png");
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.popupZalo{
   position: fixed;
}